@model SalesOfficeViewModel
@using TeamJAMiN.Models.ComponentViewModels

@*Contracts Container*@
<div class="row no-gutter">
    <div class="col-xs-2">
        <div class="col-xs-12 no-padding">
            @if (Model.IsActivePlayer && Model.DrawIsValidActionState)
            {
                using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Game.Id, gameAction = Model.DrawState }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="contract-card tile contract-draw-deck help-tooltip" data-title="@Model.TooltipTitle" data-text="@Model.TooltipText">
                        <input type="submit" class="action-button" value="" />
                        <div class="contract-draw-title contract-draw-deck-section">Draw</div>
                        <div class="draw-contract-icon contract-draw-deck-section"></div>
                        <div class="contract-draw-count contract-draw-deck-section">x @Model.DrawCount</div>
                    </div>
                }
            }
            else
            {
                <div class="contract-card tile contract-draw-deck help-tooltip" data-title="@Model.TooltipTitle" data-text="@Model.TooltipText">
                    <div class="contract-draw-title contract-draw-deck-section">Draw</div>
                    <div class="draw-contract-icon contract-draw-deck-section"></div>
                    <div class="contract-draw-count contract-draw-deck-section">x @Model.DrawCount</div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-10">
        @foreach (DraftContractViewModel contractModel in Model.DraftContractModels)
        {
            <div class="col-xs-3 no-padding">
                @if (Model.IsActivePlayer && Model.DraftIsValidActionState)
                {
                    using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Game.Id, gameAction = contractModel.State, actionLocation = contractModel.Location }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="contract-card tile">
                            <input type="submit" class="action-button" value="" />
                            @Html.Partial("~/Views/Game/SalesOffice/Contract.cshtml", contractModel)
                        </div>
                    }
                }
                else
                {
                    <div class="contract-card tile">
                        @Html.Partial("~/Views/Game/SalesOffice/Contract.cshtml", contractModel)
                    </div>
                }
            </div>
        }
    </div>
</div>

