@model PlayerGalleryViewModel
@using TeamJAMiN.Models.ComponentViewModels

<div class="col-xs-12">
    <div class="player-gallery-region @Model.EmptyGalleryCssClass">
        <div class="row no-gutter">
            @if (Model.IsGalleryFirst)
            {
                @Html.Partial("~/Views/Game/PlayerGallery/Gallery.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/Views/Game/PlayerGallery/Lobby.cshtml", Model)
            }
        </div>
        <div class="row no-gutter">
            @if (Model.IsGalleryFirst)
            {
                @Html.Partial("~/Views/Game/PlayerGallery/Lobby.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/Views/Game/PlayerGallery/Gallery.cshtml", Model)
            }
        </div>
    </div>
</div>
