@model TeamJAMiN.Models.ComponentViewModels.ActionSpaceViewModel
@using TeamJAMiN.Models.GameViewHelpers

<div class="row">
    <div class="col-xs-6 @Model.Push no-padding">
        @if (Model.IsActivePlayer && Model.IsValidSpace)
    	{
            using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Game.Id, gameAction = Model.State }, FormMethod.Post, new { role = "form" }))
            {
		    @Html.AntiForgeryToken()
		    <div data-location="@Model.Location" id="@Model.LocationName-action" class="action-space current-player highlight">
		        <div class="action-space-center @Model.GalleristColorClass"></div>
		        <input type="submit" class="action-button" value="" />
		    </div>
    		}
        }
	    else
	    {
		    <div data-location="@ViewBag.ActionId" id="@Model.LocationName-action" class="action-space current-player">
		        <div class="action-space-center @Model.GalleristColorClass"></div>
	        </div>
	    }
        <div class="action-arrow-body"></div>
        <div class="action-arrow-head"></div>
        <div id="@Model.LocationName-kicked-out" class="kicked-out-space"></div>
    </div>
    <div class="col-xs-6 @Model.Pull no-padding">
        <div id="@Model.LocationName-@Model.FirstActionName-action" class="sub-action-space tile"></div>
        <div id="@Model.LocationName-action-label" class="action-space-label"></div>
        <div id="@Model.LocationName-@Model.SecondActionName-action" class="sub-action-space tile"></div>
    </div>
</div>
