@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Models.GameViewHelpers
@using TeamJAMiN.Models.ComponentViewModels
@using TeamJAMiN.Controllers.GameLogicHelpers
@model TeamJAMiN.GalleristComponentEntities.Game
@{ var listOrder = new List<ArtType> { ArtType.digital, ArtType.painting, ArtType.sculpture, ArtType.photo };}
@{ var artists = Model.Artists.ToList(); }
@{ var submitAction = Model.CurrentTurn.CurrentAction.State == GameActionState.ArtistColony ? GameActionState.ArtBuy : GameActionState.Promote; }


@*New (Blue) Artists*@
<div class="col-xs-4">
    @{  foreach (ArtType type in listOrder)
        {
            var artist = artists.Where(a => a.ArtType == type && a.Category == ArtistCategory.blue).FirstOrDefault();
            if (artist.IsDiscovered)
            {
                if (Model.CurrentPlayer.UserId == ViewBag.userId && (Model.CurrentTurn.CurrentAction.State == GameActionState.ArtistColony || Model.CurrentTurn.CurrentAction.State == GameActionState.MediaCenter))
                {
                    using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Id, gameAction = submitAction, actionLocation = type.ToString() + ":" + @artist.Category.ToString() }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString() @Model.Highlight(GameActionState.MediaCenter)">
                            <input type="submit" class="action-button" value="" />
                            @Html.Partial("~/Views/Game/ArtistColony/ArtistDiscovered.cshtml", artist)
                        </div>

                    }
                }
                else
                {
                    <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">@Html.Partial("~/Views/Game/ArtistColony/ArtistDiscovered.cshtml", artist)</div>
                }
            }
            else
            {
                if (Model.CurrentPlayer.UserId == ViewBag.userId && Model.CurrentTurn.CurrentAction.State == GameActionState.ArtistColony)
                {
                    using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Id, gameAction = GameActionState.ArtistDiscover, actionLocation = type.ToString() + ":" + @artist.Category.ToString() }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">
                            <input type="submit" class="action-button" value="" />
                            @Html.Partial("~/Views/Game/ArtistColony/ArtistUndiscovered.cshtml", artist)
                        </div>

                    }
                }
                else
                {
                    <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">@Html.Partial("~/Views/Game/ArtistColony/ArtistUndiscovered.cshtml", artist)</div>
                }
            }

        }
    }
</div>
@*Experienced (Red) Artists*@
<div class="col-xs-4">
    @foreach (ArtType type in listOrder)
    {
        var artist = artists.Where(a => a.ArtType == type && a.Category == ArtistCategory.red).FirstOrDefault();
        if (artist.IsDiscovered)
        {
            if (Model.CurrentPlayer.UserId == ViewBag.userId && (Model.CurrentTurn.CurrentAction.State == GameActionState.ArtistColony || Model.CurrentTurn.CurrentAction.State == GameActionState.MediaCenter))
            {
                using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Id, gameAction = GameActionState.ArtBuy, actionLocation = type.ToString()+":"+@artist.Category.ToString() }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString() @Model.Highlight(GameActionState.MediaCenter)">
                        <input type="submit" class="action-button" value="" />
                        @Html.Partial("~/Views/Game/ArtistColony/ArtistDiscovered.cshtml", artist)
                    </div>

                }
            }
            else
            {
                <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">@Html.Partial("~/Views/Game/ArtistColony/ArtistDiscovered.cshtml", artist)</div>
            }
        }
        else
        {
            if (Model.CurrentPlayer.UserId == ViewBag.userId && Model.CurrentTurn.CurrentAction.State == GameActionState.ArtistColony)
            {
                using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Id, gameAction = GameActionState.ArtistDiscover, actionLocation = type.ToString() + ":" + @artist.Category.ToString() }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">
                        <input type="submit" class="action-button" value="" />
                        @Html.Partial("~/Views/Game/ArtistColony/ArtistUndiscovered.cshtml", artist)
                    </div>

                }
            }
            else
            {
                <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">@Html.Partial("~/Views/Game/ArtistColony/ArtistUndiscovered.cshtml", artist)</div>
            }
        }
    }
</div>
@*Art*@
<div class="col-xs-4">
    @foreach (ArtType type in listOrder)
    {
        var art = Model.GetArtFromStack(type);
        <div class="row tile artist-colony-tile art-tile artist-@art.Type.ToString()">@Html.Partial("~/Views/Game/ArtistColony/Art.cshtml", new ArtViewModel(Model,art))</div>
    }
</div>
