@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Models.GameViewHelpers
@using TeamJAMiN.Models.ComponentViewModels
@model ArtistColonyViewModel


@*Artists*@
@foreach (List<GameArtist> artistList in new List<List<GameArtist>>{ Model.BlueArtists, Model.RedArtists })
{
    <div class="col-xs-4">
        @foreach (GameArtist artist in artistList)
        {
            if (Model.IsActivePlayer && Model.IsValidActionState)
            {
                using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Game.Id, gameAction = Model.FormAction, actionLocation = artist.ArtType.ToString() + ":" + artist.Category.ToString() }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString() @Model.Game.Highlight(GameActionState.MediaCenter)">
                        <input type="submit" class="action-button" value="" />
                        @Html.Partial(Model.ArtistToPartialViewString[artist], new ArtistViewModel(artist))
                    </div>

                }
            }
            else
            {
                <div class="row tile artist-colony-tile artist-@artist.Category.ToString() artist-@artist.ArtType.ToString()">@Html.Partial(Model.ArtistToPartialViewString[artist], new ArtistViewModel(artist))</div>
            }
        }
    </div>
}
@*Art*@
<div class="col-xs-4">
    @foreach (GameArt art in Model.Art)
    {
        <div class="row tile artist-colony-tile art-tile artist-@art.Type.ToString()">@Html.Partial("~/Views/Game/ArtistColony/Art.cshtml", new ArtViewModel(Model.Game,art))</div>
    }
</div>
