@model TeamJAMiN.Models.ComponentViewModels.ArtistViewModel

@*Discovered Artist (Front Side)*@


<div class="row no-gutter discovered-top-row">
    @*Art Type*@
    <div class="col-xs-6"><div class="@Model.Artist.ArtType.ToString()-icon art-icon"></div></div>
    @*Promotion Level*@
    <div class="col-xs-6 promotion-container">
        <div class="promotion-tile promotion-@Model.Artist.Promotion">
            @Model.PromotionText
        </div>
    </div>
</div>
<div class="row no-gutter discovered-bottom-row">
    @*Initial Fame*@
    <div class="col-xs-4 initial-fame"><div class="artist-fame">@Model.Artist.InitialFame<div class="initial-fame-star fame-star"></div></div></div>
    @*Fame Track*@
    <div class="col-xs-8 fame-track">
        <div class="row no-gutter">
            <div class="col-xs-6">
                <div class="current-fame">
                    <div class="col-xs-12">@Model.Artist.Fame</div>
                    <div class="col-xs-12 @Model.CurrentStar fame-star star-size-xs"></div>
                    <div class="arrow-right"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="next-fame-star">
                    <div class="col-xs-12">@Model.FameAtNextStar</div>
                    <div class="col-xs-12 @Model.NextStar fame-star star-size-xs"></div>
                </div>
            </div>
        </div>    
    </div>
</div>
