@model TeamJAMiN.GalleristComponentEntities.GameArtist

@*Discovered Artist (Front Side)*@

<div class="row">
    @*Art Type*@
    <div class="col-xs-3">@Model.ArtType</div>
    @*Promotion Level*@
    <div class="col-xs-6 col-xs-offset-3">@Model.Promotion</div>
</div>
<div class="row">
    @*Fame/Cost*@
    <div class="col-xs-6">@Model.Fame</div>
    @*Next Star Level*@
    <div class="col-xs-6">
        @{
            int i = 0;
            while (Model.StarLevels[i] < Model.Fame) { i++; }
        }
        @(i + 1): @Model.StarLevels[i + 1]
    </div>
</div>
