@using TeamJAMiN.Models.ComponentViewModels
@model InfluenceTrackViewModel

@*Influence Track*@
@{ var spaceEnum = Model.Spaces.GetEnumerator(); }
<div class="row no-gutter">
    @for (int j = 0; j < 4; j++)
    {
        <div class="col-lg-3 col-md-6 col-sm-12 influence-track-section">
            @for (int k = 0; k < 3; k++)
            {
                <div class="col-sm-4 col-xs-6">
                    <div class="row no-gutter">
                        @for (int m = 0; m < 3; m++)
                        {
                            spaceEnum.MoveNext();
                            var space = spaceEnum.Current;
                            <div class="col-xs-4">
                                <div id="influence-track-@space.Index" class="@space.KickedOutCssClass influence-track-space">
                                    @Html.Raw(space.StarHtml)
                                    <div class="influence-track-number">@space.DisplayIndex</div>
                                    @Html.Raw(space.InfluenceMarkerHtml)
                                    @Html.Raw(space.MoneyHtml)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>