@{
    ViewBag.Title = "My Games";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron row">
    <div class="game-list">
        @{
            var index = 1;
            foreach (var myGame in ViewBag.myGames)
            {
                <div class="col-xs-12">
                    <div class="col-xs-5 game-list-name">@myGame.Name</div>
                    <div class="col-xs-2 game-list-field">@myGame.PlayersString</div>
                    <div class="col-xs-2 game-list-field">@myGame.MaxTurnLengthString</div>
                    <p data-utcdate="@myGame.CreatedTimeString"></p>
                    <div id="start-open-button-container-@myGame.Id" class="col-xs-3 game-list-button-container no-padding">
                        <div class="col-xs-6 open-button-container">
                            @if (myGame.isStartable)
                            {
                                using (Html.BeginForm("Start", "Game", new { id = myGame.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-sm btn-success " value="Start" />
                                }
                            }
                            else if (myGame.isStarted)
                            {
                                <a href="@myGame.Url" class="btn btn-sm btn-success">Open</a>
                            }
                        </div>
                        <div class="col-xs-6">
                            @if (myGame.isStartable)
                            {
                                using (Html.BeginForm("Delete", "Game", new { id = myGame.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr />
                </div>
                index++;
            }
        }
    </div>
</div>
   
<h2>All Games</h2>

<div class="jumbotron row">
    <div class="game-list">
        @{
            var allGameIndex = 1;
            foreach (var game in ViewBag.allGames)
            {
                <div class="col-xs-12">
                    <div class="col-xs-5 game-list-name">@game.Name</div>
                    <div class="col-xs-2 game-list-field">@game.PlayersString</div>
                    <div class="col-xs-2 game-list-field">@game.MaxTurnLengthString</div>
                    <div class="col-xs-2 no-padding">
                        @if (game.isJoinable)
                        {
                            using (Html.BeginForm("Join", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input class="form-control hidden" type="hidden" name="id" value="@game.Id" />
                                <input type="submit" class="btn btn-sm btn-success col-xs-5" value="Join" />
                            }
                        }
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr />
                </div>
                allGameIndex++;
            }
        }
    </div>
 </div>

@section Scripts {
    @Scripts.Render("~/bundles/gamelist")
    <script src="~/signalr/hubs"></script>
}
