@{
    ViewBag.Title = "My Games";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron row">
    <div class="game-list">
        <div class="col-xs-12 game-list-header">
            <div class="col-xs-3 game-list-field">Name</div>
            <div class="col-xs-2 game-list-field">Number of Players</div>
            <div class="col-xs-2 game-list-field">Turn Length</div>
            <div class="col-xs-2 game-list-field">Created</div>
            <div class="col-xs-2 game-list-field">Actions</div>
        </div>
        <div class="col-xs-12">
            <hr class="margin-top-bottom-10" />
        </div>
        @{
            var index = 1;
            foreach (var myGame in ViewBag.myGames)
            {
                <div class="col-xs-12">
                    <div class="col-xs-3 game-list-field">
                        @if (myGame.isStarted)
                        {
                            <a href="@myGame.Url">@myGame.Name</a>
                        }
                        else
                        {
                            @myGame.Name
                        }
                    </div>
                    <div class="col-xs-2 game-list-field">@myGame.PlayersString</div>
                    <div class="col-xs-2 game-list-field" data-duration="@myGame.MaxTurnLength" title="@myGame.MaxTurnLength minutes"></div>
                    <div class="col-xs-2 game-list-field" data-utcdate="@myGame.CreatedTime"></div>
                    <div id="start-open-button-container-@myGame.Id" class="col-xs-3 game-list-button-container no-padding">
                        <div class="col-xs-6 open-button-container">
                            @if (myGame.isStartable)
                            {
                                using (Html.BeginForm("Start", "Game", new { id = myGame.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-sm btn-success " value="Start" />
                                }
                            }
                        </div>
                        <div class="col-xs-6">
                            @if (myGame.isStartable)
                            {
                                using (Html.BeginForm("Delete", "Game", new { id = myGame.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr class="margin-top-bottom-10" />
                </div>
                index++;
            }
        }
    </div>
</div>
   
<h2>All Games</h2>

<div class="jumbotron row">
    <div class="game-list">
        <div class="col-xs-12 game-list-header">
            <div class="col-xs-3 game-list-field">Name</div>
            <div class="col-xs-2 game-list-field">Number of Players</div>
            <div class="col-xs-2 game-list-field">Turn Length</div>
            <div class="col-xs-2 game-list-field">Created</div>
            <div class="col-xs-2 game-list-field">Actions</div>
        </div>
        <div class="col-xs-12">
            <hr class="margin-top-bottom-10" />
        </div>
        @{
            var allGameIndex = 1;
            foreach (var game in ViewBag.allGames)
            { 
                <div class="col-xs-12">
                    <div class="col-xs-3 game-list-field">
                        @if (game.isJoinable)
                        {
                            using (Html.BeginForm("Join", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "GameList" }))
                            {
                                @Html.AntiForgeryToken()
                                <input class="form-control hidden" type="hidden" name="id" value="@game.Id" />
                                <a href="javascript:{}" onclick="document.getElementById('GameList').submit()";>@game.Name</a>
                            }
                        }
                        else
                        {
                            @game.Name
                        }
                    </div>
                    <div class="col-xs-2 game-list-field">@game.PlayersString</div>
                    <div class="col-xs-2 game-list-field" data-duration="@game.MaxTurnLength" title="@game.MaxTurnLength minutes"></div>
                    <div class="col-xs-2 game-list-field" data-utcdate="@game.CreatedTime"></div>
                </div>
                <div class="col-xs-12">
                    <hr class="margin-top-bottom-10" />
                </div>
                allGameIndex++;
            }
        }
    </div>
 </div>

@section Scripts {
    @Scripts.Render("~/bundles/gamelist")
    <script src="~/signalr/hubs"></script>
}
