@{
    ViewBag.Title = "My Games";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Games</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
                foreach (var myGame in ViewBag.myGames)
                {
                    <tr>
                        <td>@index</td>
                        <td>@myGame.Name</td>
                        <td>@myGame.PlayersString</td>
                        <td>@myGame.MaxTurnLengthString</td>
                        <td>
                            @if (myGame.isStartable)
                            {
                                using (Html.BeginForm("Start", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input class="form-control hidden" type="hidden" name="gameId" value="@myGame.Id" />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-success" value="Start" />
                                        </div>
                                    </div>
                                }
                            }
                            else if (myGame.isStarted)
                            {
                                <a href="@myGame.Url" class="btn-sm btn-success">Open</a>
                            }
                        </td>
                        <td>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Delete" />
                            </div>
                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</div>
   
<h2>All Games</h2>

<div class="jumbotron">
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Games</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                var allGameIndex = 1;
                foreach (var game in ViewBag.allGames)
                {
                    <tr>
                        <td>@allGameIndex</td>
                        <td>@game.Name</td>
                        <td>@game.PlayersString</td>
                        <td>@game.MaxTurnLengthString</td>
                        <td>
                            @if (game.isJoinable)
                            {
                                using (Html.BeginForm("Join", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input class="form-control hidden" type="hidden" name="gameId" value="@game.Id" />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-success" value="Join" />
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                    allGameIndex++;
                }
            }
        </tbody>
    </table>
</div>
