@{
    ViewBag.Title = "My Games";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Games</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
                foreach (var myGame in ViewBag.myGames)
                {
                    <tr>
                        <td>@index</td>
                        <td>@myGame.Name</td>
                        <td>@myGame.PlayersString</td>
                        <td>@myGame.MaxTurnLengthString</td>
                        <td>
                            <a href="@myGame.Url" class="btn-sm btn-success">Open</a>
                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</div>
   
<h2>All Games</h2>

<div class="jumbotron">
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Games</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                var allGameIndex = 1;
                foreach (var game in ViewBag.allGames)
                {
                    <tr>
                        <td>@allGameIndex</td>
                        <td>@game.Name</td>
                        <td>@game.PlayersString</td>
                        <td>@game.MaxTurnLengthString</td>
                        <td>
                            @if(game.RemainingSlots > 0)
                            {
                                @*<a href="@game.Url" class="btn-sm btn-success">Join</a>*@
                            }
                        </td>
                    </tr>
                    allGameIndex++;
                }
            }
        </tbody>
    </table>
</div>
