@model TeamJAMiN.GalleristComponentEntities.Game
@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Models.GameViewHelpers
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container gallerist-game-view">
    <div class="row">
        <div class="col-md-4">
            <div class="row board-region" id="sales-office">
                @*Sales Office (Contracts)*@
                <div class="col-md-12 no-padding">@Html.Partial("~/Views/Game/SalesOffice/SalesOffice.cshtml", Model)</div>
            </div>
            <div class="row board-region separate-top">
                <div class="col-md-12">
                    @*International Market*@
                    @Html.Partial("~/Views/Game/InternationalMarket/InternationalMarket.cshtml")
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            @* Top Actions *@
            @{ 
                var actionList = new List<PlayerLocation> { PlayerLocation.SalesOffice, PlayerLocation.ArtistColony, PlayerLocation.InternationalMarket, PlayerLocation.MediaCenter };
                var actionEnum = actionList.GetEnumerator();
            }
            <div class="row">
                <div class="col-xs-6">
                    @{ 
                        actionEnum.MoveNext();
                        ViewBag.ActionId = actionEnum.Current;
                    }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml")
                </div>
                <div class="col-xs-6">
                    @{
                        actionEnum.MoveNext();
                        ViewBag.ActionId = actionEnum.Current;
                    }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml")
                </div>
            </div>
            @* Player Galleries *@
            <div class="row separate-top">
                @foreach (PlayerColor color in new List<PlayerColor> { PlayerColor.yellow, PlayerColor.purple })
                {
                    ViewBag.Color = color;
                    <div class="col-xs-6">
                        <div class="row no-margin">
                            @Html.Partial("~/Views/Game/PlayerGallery/GalleryAndLobby.cshtml", Model)
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="plaza" class="">
                        @{ ViewBag.DisplayVisitors = Model.VisitorByLocation(GameVisitorLocation.Plaza); }
                        @Html.Partial("~/Views/Game/PlayerGallery/VisitorDisplay.cshtml")
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (PlayerColor color in new List<PlayerColor> { PlayerColor.blue, PlayerColor.orange })
                {
                    ViewBag.Color = color;
                    <div class="col-xs-6">
                        <div class="row no-margin">
                            @Html.Partial("~/Views/Game/PlayerGallery/GalleryAndLobby.cshtml", Model)
                        </div>
                    </div>
                }
            </div>
            @* Bottom Actions *@
            <div class="row">
                <div class="col-xs-6">
                    @{
                        actionEnum.MoveNext();
                        ViewBag.ActionId = actionEnum.Current;
                    }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml")
                </div>
                <div class="col-xs-6">
                    @{
                        actionEnum.MoveNext();
                        ViewBag.ActionId = actionEnum.Current;
                    }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml")
                </div>
            </div>
            @if (Model.Players.Single(m => m.Id == Model.CurrentPlayerId).UserId == ViewBag.userId)
            {
                using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="Take Turn" />
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-5">
            <div class="row board-region">
                @* Artist Colony *@
                @Html.Partial("~/Views/Game/ArtistColony/ArtistColony.cshtml", Model)
            </div>
            <div class="row board-region separate-top">
                @* Media *@
                @Html.Partial("~/Views/Game/Media/Media.cshtml")
            </div>
            @* Tickets *@
            <div class="row board-region separate-top">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="col-xs-8 no-padding">
                            <div class="ticket-vip icon-lg icon-background"></div>
                        </div>
                        <div class="col-xs-4 no-padding">x @Model.AvailableInvestorTickets</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-8 no-padding">
                            <div class="ticket-investor icon-lg icon-background"></div>
                        </div>
                        <div class="col-xs-4 no-padding">x @Model.AvailableInvestorTickets</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-8 no-padding">
                            <div class="ticket-collector icon-lg icon-background"></div>
                        </div>
                        <div class="col-xs-4 no-padding">x @Model.AvailableInvestorTickets</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row influence-track">
        @* Influence Track *@
        @Html.Partial("~/Views/Game/InfluenceTrack/InfluenceTrack.cshtml")
    </div>
    <div class="row board-region player-board">
        @{ foreach (Player player in Model.Players)
            {
                @Html.Partial("~/Views/Game/PlayerBoard/PlayerBoard.cshtml", player);
            }
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/gallerist")
    <script src="~/signalr/hubs"></script>
}
