@model PlayViewModel
@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Models.GameViewHelpers
@using TeamJAMiN.Models.ComponentViewModels
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container gallerist-game-view">
    <div class="row">
        <div class="col-md-4">
            <div class="row board-region @Model.Game.Highlight(GameActionState.SalesOffice)" id="sales-office">
                @*Sales Office (Contracts)*@
                <div class="col-md-12 no-padding">@Html.Partial("~/Views/Game/SalesOffice/SalesOffice.cshtml", Model.SalesOfficeModel)</div>
            </div>
            <div class="row board-region separate-top @Model.Game.Highlight(GameActionState.InternationalMarket)">
                <div class="col-md-12">
                    @*International Market*@
                    @Html.Partial("~/Views/Game/InternationalMarket/InternationalMarket.cshtml", Model.InternationalMarketModel)
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            @* Top Actions *@
            @{ 
                var actionEnum = Model.LocationViewModels.GetEnumerator();
            }
            <div class="row">
                <div class="col-xs-6">
                    @{ actionEnum.MoveNext(); }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml", actionEnum.Current)
                </div>
                <div class="col-xs-6">
                    @{ actionEnum.MoveNext(); }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml", actionEnum.Current)
                </div>
            </div>
            @* Player Galleries *@
            <div class="row separate-top">
                @foreach (PlayerGalleryViewModel galleryModel in Model.TopGalleryModels)
                {
                    <div class="col-xs-6">
                        <div class="row no-margin">
                            @Html.Partial("~/Views/Game/PlayerGallery/GalleryAndLobby.cshtml", galleryModel)
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="plaza" class="">
                        @Html.Partial("~/Views/Game/PlayerGallery/VisitorDisplay.cshtml", Model.PlazaVisitorCounts)
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (PlayerGalleryViewModel galleryModel in Model.BottomGalleryModels)
                {
                    <div class="col-xs-6">
                        <div class="row no-margin">
                            @Html.Partial("~/Views/Game/PlayerGallery/GalleryAndLobby.cshtml", galleryModel)
                        </div>
                    </div>
                }
            </div>
            @* Bottom Actions *@
            <div class="row">
                <div class="col-xs-6">
                    @{ actionEnum.MoveNext(); }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml", actionEnum.Current)
                </div>
                <div class="col-xs-6">
                    @{ actionEnum.MoveNext(); }
                    @Html.Partial("~/Views/Game/ActionSpaces/ActionSpace.cshtml", actionEnum.Current)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row board-region">
                @* Artist Colony *@
                @Html.Partial("~/Views/Game/ArtistColony/ArtistColony.cshtml", Model.ArtistColonyModel)
            </div>
            <div class="row board-region separate-top">
                @* Media *@
                @Html.Partial("~/Views/Game/Media/Media.cshtml")
            </div>
            @* Tickets *@
            <div class="row board-region separate-top">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="col-xs-8 no-padding">
                            <div class="ticket-vip icon-lg icon-background"></div>
                        </div>
                        <div class="col-xs-4 no-padding">x @Model.Game.AvailableInvestorTickets</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-8 no-padding">
                            <div class="ticket-investor icon-lg icon-background"></div>
                        </div>
                        <div class="col-xs-4 no-padding">x @Model.Game.AvailableInvestorTickets</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-8 no-padding">
                            <div class="ticket-collector icon-lg icon-background"></div>
                        </div>
                        <div class="col-xs-4 no-padding">x @Model.Game.AvailableInvestorTickets</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row influence-track">
        @* Influence Track *@
        @Html.Partial("~/Views/Game/InfluenceTrack/InfluenceTrack.cshtml")
    </div>
    <div class="row board-region player-board">
        @{ foreach (PlayerBoardViewModel boardModel in Model.PlayerBoardModels)
            {
                @Html.Partial("~/Views/Game/PlayerBoard/PlayerBoard.cshtml", boardModel);
            }
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/gallerist")
    <script src="~/signalr/hubs"></script>
}
