@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Models.GameViewHelpers
@model Player

<div class="row">
@foreach (GameContractLocation location in new GameContractLocation[] { GameContractLocation.Investor, GameContractLocation.Vip, GameContractLocation.Any })
{
    var contract = new GameContract();
    var ticket = "";
    var empty = "";
    if (Model.HasContractAtLocation(location))
    {
        contract = Model.GetContractAtLocation(location);
    }
    else
    {
        if (location != GameContractLocation.Any)
        {
            ticket = ((VisitorTicketType)Enum.Parse(typeof(VisitorTicketType), location.ToString().ToLower())).ToString();
        }
        else
        {
            ticket = "any";
        }
        empty = "player-contract-empty";
    }
    <div class="col-xs-4">
        @if (Model.Id == Model.Game.CurrentPlayer.Id && Model.Game.CurrentPlayer.UserId == ViewBag.userId && Model.Game.CurrentTurn.CurrentAction.State == GameActionState.ContractDraft)
        {
            using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.GameId, gameAction = GameActionState.ContractToPlayerBoard, actionLocation = location }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div id="player-contract-@location.ToString().ToLower()" data-location="@location" class="contract-card tile player-contract @empty highlight">
                    <input type="submit" class="action-button" value="" />
                    @if (empty == "")
                    {
                        <div class="row no-gutter contract-art-row">
                            @* Art Type *@
                            <div class="col-xs-12 no-padding">
                                <div class="art-icon @contract.Art.ToString()-icon"></div>
                            </div>
                        </div>
                        <div class="row no-gutter contract-bonus-row">
                            @* Contract Action *@
                            <div class="col-xs-12 no-padding">
                                <div class="contract-bonus @IconCss.BonusClass[contract.Bonus]"></div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ticket-@ticket icon-lg icon-background margin-center"></div>
                    }
                </div>
            }
        }
        else
        {
            <div id="player-contract-@location.ToString().ToLower()" data-location="@location" class="contract-card tile player-contract @empty">
                @if (empty == "")
                    {
                    <div class="row no-gutter contract-art-row">
                        @* Art Type *@
                        <div class="col-xs-12 no-padding">
                            <div class="art-icon @contract.Art.ToString()-icon"></div>
                        </div>
                    </div>
                        <div class="row no-gutter contract-bonus-row">
                            @* Contract Action *@
                            <div class="col-xs-12 no-padding">
                                <div class="contract-bonus @IconCss.BonusClass[contract.Bonus]"></div>
                            </div>
                        </div>
                }
                else
                {
                    <div class="ticket-@ticket icon-lg icon-background margin-center"></div>
                }
            </div>
        }
    </div>
}
</div>